rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to sections collection for all users
    match /sections/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}